@font-face {
  font-family: myfont-1;
  src: url(/fonts/akira_expanded/Akira\ Expanded\ Demo.otf);
}
@font-face {
  font-family: myfont-2;
  src: url(fonts/moderniz/Moderniz.otf);
}
@font-face {
  font-family: myfont-3;
  src: url(fonts/sansation/Sansation_Bold.ttf);
}
@font-face {
  font-family: myfont-4;
  src: url(/fonts/mochica/Mochica_PERSONAL_USE_ONLY.otf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:#2C3930;
}
.bmrhead{
  color: white;
  font-size: 48px;
  font-family:myfont-1;
  text-align: center;
}
.hero{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 0;
}
.hero-box{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0 80px;
}

label{
  display: block;
  font-size: 16px;
  font-weight: bold;
  font-family: myfont-1;
  letter-spacing: 1.5px;
}
input{
  width: 100%;
  height: 43px;
  font-size: 14px;
  font-family: myfont-2;
  padding: 0px 10px;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  letter-spacing: 1.2px;
}
select{
  width: 50%;
  padding: 5px 5px;
  height: 43px;
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 10px;
  font-family: myfont-2;
}
.input-field{
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px;
  width: 500px;
  border: 5px solid #DCD7C9;
  border-radius: 20px;
  height: fit-content;
  background-color: #A27B5C;
  position: relative;
  
}

.age,.weight,.height,.gender{
  display: flex;
  flex-direction: column;
  gap:8px;
}
.btn{
  display: flex;
  justify-content: center;
  gap: 8px;
}
.btn button{
  padding: 10px 23px;
  background-color: black;
  color: white;
  font-size: 15px;
  letter-spacing: 1.4px;
  border: 2px solid black;
  border-radius: 10px;
  font-family: myfont-1;
}

.result{
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #3F4F44;
  width: 500px;
  border-radius: 20px;
  color: white;
  font-family: monospace;
  height: fit-content;
  justify-content: space-around;
  padding: 30px;
  display: none;
  border: 5px solid #DCD7C9;
}


.result h1{
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 1.2px;
  font-family: myfont-2;
}
.result h3{
  font-size: 21px;
  line-height: 28px;
  font-family: myfont-3;
  text-transform: capitalize;
 
}
.result span{
  color: orange;
  font-size: 24px;
  font-family: myfont-2;
}